*/galGal6_annotations.csv
*/galGal5_annotations.csv
.DS_store
*/.ipynb_checkpoints

Figure1/NC_RNASeq_Williams2019/Inputs/galGal6_annotations.csv
Figure1/Somite_RNASeq_Mok2020/Inputs/galGal5_annotations.csv
